/* global style */
body {
	padding-top: 2em;
	padding-left: 20em;
	padding-right: 20em;
	color: #cecece;
	background-color: #20232c;
}
h1 {
	background-color: rgba(0, 0, 0, 0);
	padding: 2rem;
	margin: .5rem;
	color: #7853f5;
}
p.motd {
	background-color: rgba(0, 0, 0, 0);
	padding: .5rem;
	margin: .5rem;
}

h2 {
	background-color: rgba(0, 0, 0, 0.5);
	padding: .5rem;
	margin: .5rem;
}
p {
	margin: .5em 0;
	font-size: 18px;
}

div.header {
	background-color: #1f0e25;
	padding: .5em;
}

div.section {
	margin: 1rem 0;
	background-color: #0e1f25;
	padding: .5rem;
}

div.section-item {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1rem;
	margin: .5rem;
	font-size: 19px;
}

/* homepage */

h4 {
	font-size: 24px;
	color: #2dd2d2;
	padding: 0;
	margin: 0;
}
